@tailwind base;
@tailwind components;
@tailwind utilities;

.horizontal-line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-orient: vertical;

    -webkit-line-clamp: 2;
}

.each-slide-effect>div {
    background-size : cover;
    z-index: 1 !important;
    border-radius: 30px;
}

.each-slide-effect span {
    background: #efefef;
    text-align: center;
    z-index: 1 !important;
}

.indicator {
    cursor       : pointer;
    padding      : 0.5rem 1rem;
    border-radius: 3rem;
    text-align   : center;
    background-color: #ececec;
    margin       : 0.2rem;
    color        : black;
}

.indicator:hover {
    color     : #fff;
    background: #7e7875;
}

.indicator.active {
    color     : #fff;
    background: #ff7f22;
}


.tw-each-submenu-mobile {
    @apply my-4 relative after:absolute after:bottom-0 pb-5 after:left-0 after:h-[1px] after:w-full after:bg-gray-500;
}

.tw-each-submenu-web {
    @apply my-4 relative after:absolute after:bottom-0 pb-5 after:left-0 after:h-[1px] after:z-[1] after:w-full after:bg-gray-300;
}


.tw-each-submenu-mobile-content {
    @apply font-semibold cursor-pointer hover:text-orange-primary-400 hover:duration-200 flex gap-3 items-center text-gray-600;
}

.tw-each-submenu-web-content {
    @apply font-normal cursor-pointer hover:text-orange-primary-400 hover:duration-200 flex gap-3 items-center text-gray-600;
}

.tw-each-slide {
    @apply each-slide-effect w-full
}

.tw-each-slide-content {
    @apply rounded-2xl w-full p-20 flex justify-between items-center sm:px-16 px-8 max-h-72 cursor-pointer
}